{% extends 'blank_layout.html' %}
{% load static %}



{% block content %}
<div class="container-fluid">
    <div class="row">


        
            
                <h1 class="text-white">Delete Confirmation</h1>
                <p class="text-white">Are you sure you want to delete the following box product?</p>
                <form method="post" class="col-2">
                    {% csrf_token %}
                    <button class="btn btn-danger w-100" type="submit">Confirm Delete</button>
                </form>
                <div class="col-6">
                    <a href="{% url 'master' %}"><button class="btn btn-primary">Cancel</button></a>
                </div>
            
            
        


    </div>
</div>


{% endblock %}