{% extends 'blank_layout.html' %}
{% load static %}



{% block content %}
<div class="container">

    <body class="text-centre">
        <h2 class="text-white">Sale Product From Distributor Material</h2>
        <div class="row">
            <div class="form-group col-4 col-md-12">
                <form class="pt-1 px-4" action="" method="post" enctype="multipart/form-data" style="color:white;">
                    {% csrf_token %}
                    <!-- Display errors at the top of the form -->
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong> Please correct the following errors.
                        <ul>
                            {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="container">
                        <div class="row pt-3">
                            <div class="col-3 col-md-1 pt-2">
                                {% csrf_token %}
                                <label for="id_field1">CABLE:</label>
                            </div>
                            <div class="col-9 col-md-11">
                                {{ form.cable3 }}
                            </div>
                            <div class="col-3 col-md-1 pt-2">
                                {% csrf_token %}
                                <label for="id_field2">LNB:</label>
                            </div>
                            <div class="col-9 col-md-11">
                                {{ form.lnb3 }}
                            </div>
                            <div class="col-3 col-md-1 pt-2">
                                {% csrf_token %}
                                <label for="id_field3">DISH:</label>
                            </div>
                            <div class="col-9 col-md-11">
                                {{ form.dish3 }}
                            </div>
                            <div class="col-3 col-md-1 pt-2">
                                {% csrf_token %}
                                <label for="id_field4">KIT:</label>
                            </div>
                            <div class="col-9 col-md-11">
                                {{ form.kit3 }}
                            </div>
                            <div class="col-3 col-md-1 pt-2">
                                {% csrf_token %}
                                <label for="id_field5">DATE:</label>
                            </div>
                            <div class="col-9 col-md-11 pt-1">
                                <div style="width: 187px;">
                                    <input type="date" id="id_sl_date3" name="sl_date3" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 pt-3">
                                <input type="submit" class="btn-danger" value="Sale Product">
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>
</div>
{% endblock %}